/* Styling sheet for all the buttons*/

.btn-outline-dark{
  font-family: 'Roboto', sans-serif !important;
  font-size: 18px !important;
}


.btn-primary {
  font-family: 'Roboto', sans-serif !important;
  font-size: 20px !important;
  font-weight: bold !important;

}
.btn-outline-primary{
  font-family: 'Roboto', sans-serif !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

/* Button styling and link styling */
#id-1983-bis-1985---die-ersten-geflüchteten-Tamil\:innen-im-Kanton-Bern{
  /* Filled buttons for the archive entries*/
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
    /* Change to your desired color here */
    background-color: #117CA6 !important;
    border-color: #117CA6 !important;
    box-shadow: none !important;
  }
  /* Outlined buttons for publication button*/
  .btn-outline-primary:hover {
    /* Change to your desired color here */
    color: white !important;
    border-color: #117CA6 !important;
    background-color: #117CA6 !important; ;
  }
  .btn-outline-primary,
  .btn-outline-primary:active,
  .btn-outline-primary:visited,
  .btn-outline-primary:focus {
    /* Change to your desired color here */
    border-color: #117CA6 !important;
    color:  #117CA6 !important;
    box-shadow: none !important;
  }
  /* Link styling for publication page*/
  #id-1983-bis-1985---die-ersten-geflüchteten-Tamilinnen-im-Kanton-Bern-links{
    .link-primary,
    .link-primary:hover,
    .link-primary:active,
    .link-primary:visited {
      /* Change to your desired color here */
      color: #117CA6 !important;
    }
  }

}

#id-\"Schwarzenbach-Abstimmung\" {
  /* Filled buttons for the archive entries*/
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
    background-color: #117CA6 !important;
    border-color: #117CA6 !important;
    box-shadow: none !important;
  }
  /* Outlined buttons for publication button*/
  .btn-outline-primary:hover {
    color: white !important;
    border-color: #117CA6 !important;
    background-color: #117CA6 !important;
  }
  .btn-outline-primary,
  .btn-outline-primary:active,
  .btn-outline-primary:visited,
  .btn-outline-primary:focus {
    border-color: #117CA6 !important;
    color:  #117CA6 !important;
    box-shadow: none !important;
  }
  /* Link styling for publication page*/
  #id-\"Schwarzenbach-Abstimmung\"-links {
    .link-primary,
    .link-primary:hover,
    .link-primary:active,
    .link-primary:visited {
      color: #117CA6 !important;
    }}

}

#id-Saisonnières-und-Saisonniers{
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
    background-color: #5C4176 !important;
    border-color: #5C4176 !important;
    box-shadow: none !important;
  }
  .btn-outline-primary:hover {
    color: white !important;
    border-color: #5C4176 !important;
    background-color: #5C4176 !important; ;
  }
  .btn-outline-primary,
  .btn-outline-primary:active,
  .btn-outline-primary:visited,
  .btn-outline-primary:focus {
    border-color: #5C4176 !important;
    color:  #5C4176 !important;
    box-shadow: none !important;
  }
  #id-Saisonnières-und-Saisonniers-links{
    .link-primary,
    .link-primary:hover,
    .link-primary:active,
    .link-primary:visited {
      color: #5C4176 !important; ;
    }}
}

#id-Parlamentarierinnen-mit-doppelter-Staatsbürgerschaft {
  .btn-primary,
  .btn-primary.active,
  .btn-primary:focus,
  .btn-primary:checked,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
    background-color:  #edc51b !important;
    border-color:  #edc51b !important;
    box-shadow: none !important;
  }
  .btn-outline-primary:hover {
    color: white !important;
    border-color:  #edc51b !important;
    background-color:  #edc51b !important; ;
  }
  .btn-outline-primary,
  .btn-outline-primary:active,
  .btn-outline-primary:visited,
  .btn-outline-primary:focus {
    border-color:  #edc51b !important;
    color: #edc51b !important;
    box-shadow: none !important;
  }

  #id-Parlamentarierinnen-mit-doppelter-Staatsbürgerschaft-links{
    .link-primary,
    .link-primary:hover,
    .link-primary:active,
    .link-primary:visited {
      color: #edc51b !important;
    }}
}

#id-tbd-wird-ergänzt {
  .btn-primary,
  .btn-primary.active,
  .btn-primary:focus,
  .btn-primary:checked,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
    background-color: #B8145E !important;
    border-color: #B8145E !important;
    box-shadow: none !important;
  }
  .btn-outline-primary:hover {
    color: white !important;
    border-color: #B8145E !important;
    background-color: #B8145E !important; ;
  }
  .btn-outline-primary,
  .btn-outline-primary:active,
  .btn-outline-primary:visited,
  .btn-outline-primary:focus {
    border-color: #B8145E !important;
    color:  #B8145E !important;
    box-shadow: none !important;
  }
  #id-tbd-wird-ergänzt-links{
    .link-primary,
    .link-primary:hover,
    .link-primary:active,
    .link-primary:visited {
      color: #B8145E !important;
    }
  }
}

@media (max-width: 62em) {
  .btn-primary {
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
    font-weight: bold !important;

  }
  .btn-outline-primary{
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
    font-weight: bold !important;
  }

}










/* Containers */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.nowrap {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrap li {
}

.wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.wrap-reverse li {

}

.flex-item {
  padding-left: 0 !important;
  padding-right: 10px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}