/* Styling sheet for the dropdown Menu*/

#\"Schwarzenbach-Abstimmung\"_div{
a.dropdown-item:active {
  color: white !important;
  background: #117CA6 !important;
  }
  h6{
    color: #117CA6

  }
}



  #Parlamentarierinnen-mit-doppelter-Staatsbürgerschaft_div {
    a.dropdown-item:active {
      color: white !important;
      background: #edc51b !important;
    }
    h6{
      color: #edc51b;
    }

  }
