/* Styling sheet for the dropdown Menu*/
/* Styling sheet for the dropdown Menu*/
#id-1983-bis-1985---die-ersten-geflüchteten-Tamil\:innen-im-Kanton-Bern_div{
  a.dropdown-item:active {
    color: white !important;
    background: #edc51b !important;
  }
  h6{
    color:  #edc51b
  }
}

#id-\"Schwarzenbach-Abstimmung\"_div{
a.dropdown-item:active {
  color: white !important;
  background: #117CA6 !important;
  }
  h6{
    color: #117CA6

  }
}
#id-Saisonnières-und-Saisonniers_div{
  a.dropdown-item:active {
    color: white !important;
    background: #5C4176 !important;
  }
  h6{
    color: #5C4176

  }
}
#id-tbd-wird-ergänzt_div{
  a.dropdown-item:active {
    color: white !important;
    background: #B8145E !important;
  }
  h6{
    color:  #B8145E
  }
}
#id-Wenn-Migration-die-Arbeitsteilung-in-der-Familie-prägt_div{
  a.dropdown-item:active {
    color: white !important;
    background: #369653 !important;
  }
  h6{
    color:  #369653
  }
}
/* No entries at this point
#id-Parlamentarierinnen-mit-doppelter-Staatsbürgerschaft_div {
    a.dropdown-item:active {
      color: white !important;
      background: #edc51b !important;
    }
    h6{
      color: #edc51b;
    }

  }
*/
#id-Einbürgerungen-à-la-Schweizermacher_div{
  a.dropdown-item:active {
    color: white !important;
    background: #B8145E !important;
  }
  h6{
    color:  #B8145E
  }
}