/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/** Basic styling */
body {
  font-family: 'Roboto', sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-bottom: 15px;
}

/** `main` element */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/** Figures */
figure > img {
  display: block;
}

figcaption {
  font-size: 14px;
}
/** Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/** Wrapper */
.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: 75px;
  padding-left: 75px;
  padding-top: 20px
}

/** Content */
.content {
  padding-top: 15px
}

.content p {
  font-family: 'Roboto', sans-serif;
  hyphens: auto;
  text-align: justify;
}

.content h3 {
  font-size: 26px;
  font-weight: bolder;
  margin-bottom: 15px;
  margin-right: 10px;

}
.content h4 {
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 15px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/** Site header */
.site-header {
  padding-bottom: 25px
}

.site-header img {
  float: left;
  height: 150px;
}

.site-header h1 {
  position: relative;
  top: 18px;
  font-weight: bolder;
  font-size: 85px;
}

.site-header h2 {
  position: relative;
  left: 10px;
  font-size: 14px;
}

/** Site title */
.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}

.site-title, .site-title:visited {
  color: #424242;
}

/** Site footer */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}
/** Page content */
.page-content {
  padding: 30px 0;
  flex: 1;
}

.page-content h1 {
  font-size: 28px;
}

.page-heading {
  font-size: 32px;
}