/** Posts */
.post-header img {
  height: 75px;
  padding-left: 40px;
}

.post-header h1 {
  font-size: 100px;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  color: black;
  vertical-align: bottom;
}

.post-header h2 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: black;
  vertical-align: bottom;
  margin-top: 20px;
}

.post-header figure {
  margin-top: 50px;
  text-align: center;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

@media screen and (max-width: 800px) {
  .post-title {
    font-size: 36px;
  }
}