/** Posts */
.post-header img {
  height: 75px;
  padding-left: 40px;
}


#post-title h1 {
  font-size: 8vw;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  color: black;
  vertical-align: bottom;
}

.post-header h2 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: black;
  vertical-align: bottom;
  margin-top: 20px;
}

.post-header figure {
  margin-top: 50px;
  text-align: center;
}

