<!-- default Layout is used for index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{ page.title }}</title>
    <!-- site stylesheets -->
    <link href="../assets/css/styles.css" rel="stylesheet">
    <!-- important Scripts-->
    <script src="../assets/js/dropDownMenuScript.js" type="module"></script>
    <script src="../assets/js/impressumScript.js" type="module"></script>
    <!-- Bootstrap v 5.0.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" >
    <!-- font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

</head>


<body>
<!-- inline Scripts -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>



<!-- Topbar with links-->
<div style="padding: 25px">
    <div class="container newTopbar">
        <div class="d-flex justify-content-start flex-wrap" style="float: right">
            <button class="btn btn-outline-dark" style="margin-right: 5px"  onmouseover="document.querySelector('.btn a').style.color='white';" onmouseout="document.querySelector('.btn a').style.color='black';">
                <a href="https://www.hist.unibe.ch/ueber_uns/personen/falk_francesca/index_ger.html" target="_blank" style="color: black; text-decoration: none;" onmouseover="this.style.color='white'" onmouseout="this.style.color='black'" onmousedown="this.style.color='white'">
                    Kontakt
                </a>
            </button>
        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Archiv
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="dropdown-menu">
            </ul>
        </div>
        </div>
        <div class="d-flex justify-content-start flex-wrap" style="float: left">
            <a class="link-dark" href='/' onclick="location.href='/';"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg></a>
        </div>


        <main aria-label="Content" class="page-content">
            <div class="content">
                <div class="content" style="padding-top: 25px">
                    {{content}}
                </div>
            </div>


        </main>

        </div>



    </div>
<!-- Impressum -->

<footer>
    <hr style="border-color: black;">
            <div id="impressumDiv">
                    <a class="link-dark" id="impressumBtn">Impressum
                    </a>
        </div>
            <div id="hiddenText">
                <div id="impressumTxt">
                    <p><b>Herausgeberin:</b>Verantwortlich für den Inhalt der Portalseite ist<a href="https://www.hist.unibe.ch/ueber_uns/personen/falk_francesca/index_ger.html"  target="_blank" class="link-dark"> Francesca Falk</a>.
                        Für Anfragen beachten Sie bitte unsere Kontaktseite. Für die hier veröffentlichten Interviews liegen Einverständniserklärungen vor.<br>
                    <b>Technik:</b>Verantwortlich für den technischen Betrieb dieser Seite sind die <a href="https://www.dh.unibe.ch/"  target="_blank" class="link-dark">Digital Humanities</a> der Universität Bern.
                    </p>

                </div>
            </div>

</footer>

</body>

</html>